.card {
        border: 1px solid #d1d1d1;
    padding: 5px;
    margin-top: 15px;

    span {
        &.selected {
              background-color: #eee;
              color: #ddd;
              cursor: not-allowed;
          }
          &.used {
              background-color: #aaddaa;
              color: #99bb99;
              cursor: not-allowed;
          }
    }
}

.fa.fa-star  {
    margin: 0.5em;
    font-size: 28px;
}

button {
    &[disabled] {
        cursor: not-allowed !important;
    }
    &:hover {
        color: #fff;
    
        .tooltip {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%, -150%);
        }
    }    
}

.btn-success {
    &:hover {
        color: #fff;
    
        .tooltip {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%, -150%);
        }
    } 
}

.buttons {
        position: relative;
        left: -35px;
        .tooltip {
            position: absolute;
            visibility: hidden;
            white-space: nowrap;
            display: inline-block;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            color: #2b97f1;
            padding: 5px;
        }
}

.done {
    padding-top: 15px;
}



span {
        display: inline-block;
        margin: 0.5em;
        text-align: center;
        background-color: #ccc;
        width: 24px;
        border-radius: 50%;
      &:hover {
          cursor: pointer;
          }  

          
    }